[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
requests = "*"
jupyterlab = "*"
bokeh = "*"
pandas = "*"
click = "*"
matplotlib = "*"
seaborn = "*"

[dev-packages]
"autopep8" = "*"
pylint = "*"

[requires]
python_version = "3.7"
